<table style=" width: 100%;height: 10%;">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchrestaurant"> Launch New Restaurant</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/restaurants"> View All Restaurant</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/upcomingoffers"> Upcoming offers </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/workshop">Workshop </a>  </td>
    
    
  </tr>
</table>
<hr/>

<router-outlet></router-outlet>